<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>الشرق الأوسط </string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb374745497486996</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.717375500993-tdfj1a2uaf96llfjt4ff71ag9rs98mfm</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>374745497486996</string>
	<key>FacebookClientToken</key>
	<string>4b3ba28a80ce525af81a58bff91b23ed</string>
	<key>FacebookDisplayName</key>
	<string>الشرق الاوسط</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>message</string>
		<string>readdle-spark</string>
		<string>airmail</string>
		<string>ms-outlook</string>
		<string>googlegmail</string>
		<string>inbox-gmail</string>
		<string>ymail</string>
		<string>superhuman</string>
		<string>yandexmail</string>
		<string>fastmail</string>
		<string>protonmail</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>يحتاج التطبيق استخدام الكاميرا</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>يحتاج التطبيق موقع المستخدم لعرض خدمة الطقس</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>يحتاج التطبيق موقع المستخدم لعرض خدمة الطقس</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>يحتاج التطبيق موقع المستخدم لعرض خدمة الطقس</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>يود التطبيق حفظ صور في معرض الصور بهاتفك</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>يود التطبيق الوصول إلى معرض الصور بهاتفك</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Your data will be used to measure advertising efficiency</string>
	<key>UIAppFonts</key>
	<array>
		<string>AwsatBlack.otf</string>
		<string>AwsatBold.otf</string>
		<string>AwsatLight.otf</string>
		<string>AwsatDigitalBetav10-Black.ttf</string>
		<string>AwsatDigitalBetav10-Bold.ttf</string>
		<string>AwsatDigitalBetav10-Regular.ttf</string>
		<string>Effra-Regular.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Almarai-Bold.ttf</string>
		<string>Almarai-ExtraBold.ttf</string>
		<string>Almarai-Light.ttf</string>
		<string>Almarai-Regular.ttf</string>
		<string>AwsatDigitalv2b-Black.ttf</string>
		<string>AwsatDigitalv2b-Bold.ttf</string>
		<string>AwsatDigitalv2b-Regular.ttf</string>
		<string>IBMPlexSansArabic-Bold.ttf</string>
		<string>IBMPlexSansArabic-ExtraLight.ttf</string>
		<string>IBMPlexSansArabic-Light.ttf</string>
		<string>IBMPlexSansArabic-Medium.ttf</string>
		<string>IBMPlexSansArabic-Regular.ttf</string>
		<string>IBMPlexSansArabic-SemiBold.ttf</string>
		<string>IBMPlexSansArabic-Thin.ttf</string>
		<string>subjectivity-medium.otf</string>
		<string>Beirut.ttf</string>
		<string>Effra-Medium.ttf</string>
		<string>AwsatDigital-Black.otf</string>
		<string>AwsatDigital-Bold.otf</string>
		<string>AwsatDigital-Regular.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
